.container.text-center
  h3 Keynote Speakers
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#nira-ch', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/NiraCH.png', alt='')
    .speaker-caption
      h4 Nira Chamberlaine
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#katie-steckles', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/Katie_Steckles.png', alt='')
    .speaker-caption
      h4 Katie Steckles
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#simon-singh', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/Simon_Singh.png', alt='')
    .speaker-caption
      h4 Simon Singh
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#conrad-wolfram', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/conrad_wolfram.png', alt='')
  //  .speaker-caption
  //    h4 Conrad Wolfram
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#rob-eastaway', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/rob_eastaway.png', alt='')
  //  .speaker-caption
  //    h4 Rob Eastaway
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#martin-hairer', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/martin_hairer.png', alt='')
  //  .speaker-caption
  //    h4 Martin Hairer FRS
