.container.text-center
  h3 Keynote Speakers
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#nikki-gupta', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/nikki_gupta.png', alt='')
    .speaker-caption
      h4 Nikki Gupta
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#conrad-wolfram', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/conrad_wolfram.png', alt='')
    .speaker-caption
      h4 Conrad Wolfram
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#rob-eastaway', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/rob_eastaway.png', alt='')
    .speaker-caption
      h4 Rob Eastaway
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#martin-hairer', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/martin_hairer.png', alt='')
    .speaker-caption
      h4 Martin Hairer FRS
