.container.text-center
  h3 Panel: "Is God a Mathematician"
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#marianne-freiberger', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/Mar_Frei.png', alt='')
    .speaker-caption
      h4 Marianne Freiberger
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#james-hannam', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/James_Hannam.png', alt='')
    .speaker-caption
      h4 James Hannam
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#jim-baggott', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/Jim_Baggot.png', alt='')
    .speaker-caption
      h4 Jim Baggott
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#kevin-buzzard', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/Kevin_Buzzard.png', alt='')
    .speaker-caption
      h4 Kevin Buzzard
  //.col-lg-3.col-xs-6.speaker-item
  //    a.speaker-link(href='#rachel-thomas', data-toggle='modal')
  //      .speaker-hover
  //        .speaker-hover-content
  //      img.img-responsive(src='images/speaker/mc2018/Rachel_Thomas.png', alt='')
  //    .speaker-caption
  //      h4 Rachel Thomas
  //      p.text-muted Moderator

  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#kevin-buzzard', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/kevin_buzzard.png', alt='')
  //  .speaker-caption
  //    h4 Kevin Buzzard
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#nick-bingham', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/nick_bingham.png', alt='')
  //  .speaker-caption
  //    h4 Nicholas Bingham
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#jeremy-gray', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/jeremy_gray.png', alt='')
  //  .speaker-caption
  //    h4 Jeremy Gray
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#john-worrall', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/john_worrall.png', alt='')
  //  .speaker-caption
  //    h4 John Worrall
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='#madeleine-whybrow', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/madeleine_whybrow.png', alt='')
  //  .speaker-caption
  //    h4 Madeleine Whybrow
  //    p.text-muted Moderator
