.container.text-center
  h3 Panel: "Was Mathematics discovered or invented?"
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#kevin-buzzard', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/kevin_buzzard.png', alt='')
    .speaker-caption
      h4 Kevin Buzzard
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#nick-bingham', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/nick_bingham.png', alt='')
    .speaker-caption
      h4 Nicholas Bingham
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#jeremy-gray', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/jeremy_gray.png', alt='')
    .speaker-caption
      h4 Jeremy Gray
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#john-worrall', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/john_worrall.png', alt='')
    .speaker-caption
      h4 John Worrall
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#madeleine-whybrow', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/madeleine_whybrow.png', alt='')
    .speaker-caption
      h4 Madeleine Whybrow
      p.text-muted Moderator
