.container.text-center
    h3 Panel: "Will machines ever out-think us?"
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#linda-gross', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/linda_gross.png', alt='')
    .speaker-caption
      h4 Linda C M Gross
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#peter-bentley', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/peter_bentley.png', alt='')
    .speaker-caption
      h4 Peter Bentley
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#jack-watts', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/jack_watts.png', alt='')
    .speaker-caption
      h4 Jack Watts
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#george-zarkadakis', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/george_zarkadakis.png', alt='')
    .speaker-caption
      h4 George Zarkadakis
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#marta-garnelo', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/marta_garnelo.png', alt='')
    .speaker-caption
      h4 Marta Garnelo
      p.text-muted Moderator
