.container.text-center
  h3 Panel: "Do Parallel Universes Exist"
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/grayperson.png', alt='')
    .speaker-caption
      h4 TBA
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/grayperson.png', alt='')
    .speaker-caption
      h4 TBA
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/grayperson.png', alt='')
    .speaker-caption
      h4 TBA
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/grayperson.png', alt='')
    .speaker-caption
      h4 TBA
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/ruben_tomlin.png', alt='')
  //  .speaker-caption
  //    h4 Ruben Tomlin
  //    p.text-muted Moderator
