.container.text-center
  h3 Panel: "How to make more people appreciate Mathematics?"
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#alex-bellos', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/alex_bellos.png', alt='')
    .speaker-caption
      h4 Alex Bellos
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#xue-li', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/xue_li.png', alt='')
    .speaker-caption
      h4 Xue-Mei Li
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#richard-thomas', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/richard_thomas.png', alt='')
    .speaker-caption
      h4 Richard Thomas FRS
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#simon-tavare', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/simon_tavare.png', alt='')
    .speaker-caption
      h4 Simon Tavar&eacute FRS
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#ruben-tomlin', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/ruben_tomlin.png', alt='')
    .speaker-caption
      h4 Ruben Tomlin
      p.text-muted Moderator
