.container.text-center
  h3 Panel: "Do Parallel Universes Exist"
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='michael-duff', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/michaelduff.png', alt='')
    .speaker-caption
      h4 Michael Duff
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='carlo-contaldi', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/carlocontaldi.png', alt='')
    .speaker-caption
      h4 Carlo Contaldi
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='veras', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/veras.png', alt='')
    .speaker-caption
      h4 Dimitri Veras
  //.col-lg-3.col-xs-6.speaker-item
  //  a.speaker-link(href='', data-toggle='modal')
  //    .speaker-hover
  //      .speaker-hover-content
  //    img.img-responsive(src='images/speaker/mc2018/grayperson.png', alt='')
  //  .speaker-caption
  //    h4 TBA
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/giulia-ferlito.jpg', alt='')
    .speaker-caption
      h4 Giulia Ferlito
      p.text-muted Moderator
