.container.text-center
    h3 Workshops
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/johnNunn.png', alt='')
    .speaker-caption
      h4 John Nunn
      p.text-muted Chess
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/dagnec.png', alt='')
    .speaker-caption
      h4 Dagne Ciuksyte
      p.text-muted Chess
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/tumar-blippar.png', alt='')
    .speaker-caption
      h4 Tushar Sharma
      p.text-muted Augmented Reality
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/chris-bigdata.png', alt='')
    .speaker-caption
      h4 Chris Bates
      p.text-muted Big Data
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/mc2018/grayperson.png', alt='')
    .speaker-caption
      h4 TBA
      //p.text-muted Rubik's Cube
