.container.text-center
    h3 Workshops
br
.container.speaker-list
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#charles-dupont', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/charles_dupont.png', alt='')
    .speaker-caption
      h4 Charles Dupont
      p.text-muted Entrepreneurship Tips
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#manuela-borgo', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/manuela_bargo.png', alt='')
    .speaker-caption
      h4 Manuela Dal Borgo
      p.text-muted Game Theory
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#jonathan-mestel', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/jonathan_mestel.png', alt='')
    .speaker-caption
      h4 Jonathan Mestel
      p.text-muted Chess Grand Master
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#liv-boeree', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/liv_boeree.png', alt='')
    .speaker-caption
      h4 Liv Boeree
      p.text-muted Poker Champion
  .col-lg-3.col-xs-6.speaker-item
    a.speaker-link(href='#christophe-jefferies', data-toggle='modal')
      .speaker-hover
        .speaker-hover-content
      img.img-responsive(src='images/speaker/christophe_jefferies.png', alt='')
    .speaker-caption
      h4 Christophe Jefferies
      p.text-muted Rubik's Cube
