section#about
  .container-fluid
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading What is Mathscon?
        hr
        p.text-muted
          | Mathscon is a series of science events, consisting of a conference and a networking social. It is directed at undergraduates, young researchers and science lovers in general. Each event aims to expose the public to a broad range of aspects and applications that make Mathematics so beautiful.

  br

  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-lightbulb-o.sr-icons
          h3 Keynote Speakers
          p.text-muted Passionate about both Mathematics and TED talks? You’ll find nothing cooler than our Mathscon Keynotes given by stars in their fields.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-comments.sr-icons
          h3 Panel Discussions
          p.text-muted Listen to experts’ opinions about key questions that have troubled scientist for centuries.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa-4x.glyphicon.glyphicon-knight.sr-icons
          h3 Workshops
          p.text-muted What better way is there to celebrate Mathematics than to have fun with some of its cool applications?
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-connectdevelop.sr-icons
          h3 Networking
          p.text-muted Socialising with people with a common interest is a key to success, whether you want to go into professional life or academia.
