section#about-us
  .container-fluid
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading About Us
        hr
        p.text-muted
          | Mathscon was founded by undergraduate maths students with one goal in mind: making maths more accessible. We want to show everyone that maths can transcend the stereotypes and be an amazing way to advance both your academic and recreational interests, alongside people from across the U.K.! As such, in all that we do, we maintain the following 3 principles:



  .container
    .row
      .col-lg-4.col-md-6.text-center
        .service-box
          h3 1) Integrate
      .col-lg-4.col-md-6.text-center
        .service-box
          h3 2) Inspire
      .col-lg-3.col-md-6.text-center
        .service-box
          h3 3) Innovate

  br

  .container-fluid
    .row
      .col-lg-8.col-lg-offset-2.text-center
        p.text-muted
          | We hope to create a community of maths enthusiasts that will enjoy the wonderful applications of maths and all it's opportunities, for many years to come.


  .container.text-center
    .call-to-action
      h2 Organizers
      hr
      br
  .container-fluid.text-center
    .col-lg-2.col-lg-offset-2.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/NIKITA_TEAM.png', alt='')
        h4 Nikita Devyataykin
        p.text-muted Project Coordinator
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/nikita-devyataykin-0a7182106/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/GEORGINA_TEAM.png', alt='')
        h4 Georgina Stephanou
        p.text-muted Project Coordinator
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/georgina-stephanou-b74a3a128/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/MATI_TEAM.png', alt='')
        h4 Mateusz Stanisjewski
        p.text-muted Project Coordinator
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/mateusz-jakub-staniszewski-19946590/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/AURE_TEAM.png', alt='')
        h4 Aurelien Favre
        p.text-muted Project Coordinator
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/aurelien-favre-a3bab0112/')
              i.fa.fa-linkedin

  .container-fluid.text-center
    .col-lg-2.col-lg-offset-2.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/Subhash_Team.png', alt='')
        h4 Subhash Nalluru
        p.text-muted Web Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/subhash-nalluru/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/THEODORA_TEAM.png', alt='')
        h4 Theodora Torcea
        p.text-muted Event Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/theodora-torcea-25977a14b/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/MALEEHA_TEAM.png', alt='')
        h4 Maleeha Khawaja
        p.text-muted Event Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/maleeha-k-ab846ba7/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/NIKKI_TEAM.png', alt='')
        h4 Nikki Ahir
        p.text-muted Graphics Designer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/nareeka/')
              i.fa.fa-linkedin

  .container-fluid.text-center
    .col-lg-2.col-lg-offset-2.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/JOHNNY_TEAM.png', alt='')
        h4 Johnny Kelly
        p.text-muted Communications Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/company/mathscon./')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/LYDIA_TEAM.png', alt='')
        h4 Lydia Ricca
        p.text-muted Marketing Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/lydia-ricca-649b6b69/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/SAYAN_TEAM.png', alt='')
        h4 Sayan Biswas
        p.text-muted Marketing Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/in/sayan-biswas-2b4003132/')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/mc2018/MARK_TEAM.png', alt='')
        h4 Mark Angelevich
        p.text-muted Conference Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/company/mathscon./')
              i.fa.fa-linkedin

