section#about-us
    .container-fluid
        .row
            .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading About Us
                hr
                p.text-muted
                    | Mathscon was founded by undergraduate maths students with one goal in mind: making maths more accessible. We want to show everyone that maths can transcend the stereotypes and be an amazing way to advance both your academic and recreational interests, alongside people from across the U.K.! As such, in all that we do, we maintain the following 3 principles:



    .container
        .row
            .col-lg-4.col-md-6.text-center
                .service-box
                    h3 1) Integrate
            .col-lg-4.col-md-6.text-center
                .service-box
                    h3 2) Inspire
            .col-lg-3.col-md-6.text-center
                .service-box
                    h3 3) Innovate

    br

    .container-fluid
        .row
            .col-lg-8.col-lg-offset-2.text-center
                p.text-muted
                    | We hope to create a community of maths enthusiasts that will enjoy the wonderful applications of maths and all it's opportunities, for many years to come.

