section#agenda.bg-grey
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Agenda
    hr
    br
    .row
      .col-lg-10.col-lg-offset-1
        table.table
          tbody
            tr.active.text-center
              td.col-xs-3.text-center 08:45 - 09:45
              td.col-xs-6 Registration
              td.col-xs-3.text-center SAF Foyer
            tr
              td.text-center 09:45 - 10:00
              td Opening Remarks
              td.text-center SAF G16 LT
            tr
              td.text-center 10:00 - 11:00
              td
                 span.text-primary
                   strong Keynote Speech
                 |: Simon Singh
              td.text-center SAF G16 LT
            tr
              td.text-center 11:00 - 11:30
              td.text-center Coffee Break
              td.text-center SAF Foyer
            tr.active
              td.text-center 11:30 - 12:30
              td
                strong Panel Discussion
                | : Do Parallel Universes Exist?
              td.text-center SAF G16 LT
            tr
              td.text-center 12:30 - 13:30
                td
                  strong Workshops
                td.text-center SAF Rooms
              //td.text-center 12:30 - 13:30
              //td
              //   span.text-primary
              //     strong Keynote Speech
              //   |: Rob Eastaway, popular mathematics author
              //td.text-center SAF G16 LT
            tr
              td.text-center 13:30 - 14:15
              td.text-center Lunch Break
              td.text-center SAF Foyer
              //td
              //   strong Panel Discussion
              //   |: how to make people appreciate mathematics?
              //td.text-center SAF G16 LT
            tr.active
              td.text-center 14:15 - 15:15
              td
                span.text-primary
                  strong Keynote Speech
                | : Katie Steckles
              td.text-center SAF G16 LT
            tr
              td.text-center 15:15 - 16:15
              td
                strong Panel Discussion
                | : Is God a Mathematician?
              td.text-center SAF G16 LT
              //td
              //   strong Workshops
              //   |: Chess, Game Theory, Poker, Rubik's Cube and Career
              //td.text-center SAF Rooms
            tr
              td.text-center 16:15 - 16:45
              td.text-center Coffee Break
                td.text-center SAF Foyer
              //td
              //   span.text-primary
              //     strong Keynote Speech
              //   |: Nikki Gupta, co-founder of Markit Education
              //td.text-center SAF G16 LT
            tr
              td.text-center 16:45 - 17:45
              td
                span.text-primary
                  strong Keynote Speech
                | : Nira Chamberlain
              td.text-center SAF G16 LT
            //tr.active
            //  td.text-center 16:30 - 17:00
            //  td.text-center Catered Coffee Break
            //  td.text-center SAF Foyer
            //tr
            //  td.text-center 17:00 - 17:45
            //  td
            //     span.text-primary
            //       strong Keynote Speech
            //     |: Martin Hairer, 2014 fields medalist and Regius Professor at the University of Warwick
            //  td.text-center SAF G16 LT
            tr
              td.text-center 17:45 - 18:00
              td Closing Remarks
              td.text-center SAF G16 LT
            tr.active
              td
              td.text-center Break
              td
            tr
              td.text-center 20:00 - 00:00
              td Networking Social
              td.text-center Jamies
    .row
      .col-lg-10.col-lg-offset-1.text-center
        h5
           strong Day Conference:
           |  Sir Alexander Fleming Building, South Kensington, London, SW7 2AZ
        h5
           strong Evening Networking Social:
           |  Jamies, 47 Ludgate Hill, London EC4M 7JZ
        br
        h5
           a(href="agenda.pdf") Download the agenda
