section#agenda
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Agenda
    hr
    br
    .row
      .col-lg-10.col-lg-offset-1
        table.table
          tbody
            tr.active.text-center
              td.col-xs-3.text-center 08:45 - 09:45
              td.col-xs-6 Registration
              td.col-xs-3.text-center Blackett Foyer
            tr
              td.text-center 09:45 - 10:00
              td Official opening of the summit
              td.text-center Blackett LT1
            tr
              td.text-center 10:00 - 10:40
              td
                 span.text-primary
                   strong Keynote Speech
                 |: Conrad Wolfram, co-founder of Wolfram Research
              td.text-center Blackett LT1
            tr
              td.text-center 10:40 - 11:30
              td
                 strong Panel Discussion
                 |: was mathematics discovered or invented?
              td.text-center Blackett LT1
            tr.active
              td.text-center 11:30 - 12:00
              td.text-center Catered Coffee Break
              td.text-center Blackett Hall
            tr
              td.text-center 12:00 - 12:40
              td
                 span.text-primary
                   strong Keynote Speech
                 |: Rob Eastaway, popular mathematics author
              td.text-center Blackett LT1
            tr
              td.text-center 12:40 - 13:30
              td
                 strong Panel Discussion
                 |: how to make people appreciate mathematics?
              td.text-center Blackett LT1
            tr.active
              td.text-center 13:30 - 15:00
              td.text-center Catered Lunch Break
              td.text-center Blackett Hall
            tr
              td.text-center 14:00 - 15:00
              td
                 strong Workshops
                 |: Chess, Game Theory, Poker, Rubik's Cube and Career
              td.text-center Blackett Rooms
            tr
              td.text-center 15:00 - 15:30
              td
                 span.text-primary
                   strong Keynote Speech
                 |: Nikki Gupta, co-founder of Markit Education
              td.text-center Blackett LT1
            tr
              td.text-center 15:30 - 16:30
              td
                 strong Panel Discussion
                 |: will machines ever out-think us?
              td.text-center Blackett LT1
            tr.active
              td.text-center 16:30 - 17:00
              td.text-center Catered Coffee Break
              td.text-center Blackett Hall
            tr
              td.text-center 17:00 - 17:45
              td
                 span.text-primary
                   strong Keynote Speech
                 |: Martin Hairer, 2014 fields medalist and Regius Professor at the University of Warwick
              td.text-center Blackett LT1
            tr
              td.text-center 17:45 - 18:00
              td Closing Remarks
              td.text-center Blackett LT1
            tr.active
              td
              td.text-center Break
              td
            tr
              td.text-center 20:00 - 00:00
              td Networking Social
              td.text-center Grange City Hotel
    .row
      .col-lg-10.col-lg-offset-1.text-center
        h5
           strong Day Conference:
           |  Blackett Laboratory, South Kensington, London, SW7 2AZ
        h5
           strong Evening Networking Social:
           |  Grange City Hotel, 8-14 Cooper's Row, London, EC3N 2BQ
        br
        h5
           a(href="agenda.pdf") Download the agenda
