section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Contact Us
    hr
    br
    .row
      .col-lg-2.col-lg-offset-2.col-xs-6.text-center
        a(href='mailto:team@mathscon.com')
          i.fa.fa-envelope-o.fa-3x.sr-contact
          p Email
      .col-lg-2.col-xs-6.text-center
        a(href='http://bit.ly/mathscon-venue')
          i.fa.fa-map-marker.fa-3x.sr-contact
          p Venue
      .col-lg-2.col-xs-6.text-center
        a(href='https://www.facebook.com/mathsconference/')
          i.fa.fa-facebook-square.fa-3x.sr-contact
          p Facebook
      .col-lg-2.col-xs-6.text-center
        a(href='https://www.twitter.com/themathscon')
          i.fa.fa-twitter.fa-3x.sr-contact
          p Twitter
