section#grant-application
  .container-fluid.text-center
    h2 Mathscon Grant Application
    hr
    br
  .container-fluid.text-center
    .container-fluid
      p Mathscon is a unique organisation that brings people together through maths, and creates a community of innovative, fun, and ambitious individuals. Not only is it important to us that we continue to break the stereotypes associated with maths and push the boundaries for success, we also hope to continue to engage with our delegates and support our community of maths enthusiasts. That’s why this year we are introducing the Mathscon Grant. This is a grant available to any maths enthusiast that buys a ticket to our conference and completes the grant application form. The winner will receive £1000 from Mathscon to support them in their mathematical studies. We want to support people who not only share our appreciation for maths, but actually use maths to be innovative and make a difference.  How do you identify with the Mathscon Principles? Have you recently competed in a mathematical competition? Do you contribute towards a mathematical publication regularly? We want to hear from you! Apply here by completing the following:
    .container-fluid
      a.btn.btn-primary.btn-xl(href='https://goo.gl/forms/I4cFLM71lOq57IUf1') Apply
    //br
    //.container-fluid
    //  p
    //    | Interested in sponsoring us?
    //    a.page-scroll(href="mailto:team@mathscon.com") Get in touch
