header
  ul.cb-slideshow
    li
      span Image 01
    li
      span Image 02
    li
      span Image 03
    li
      span Image 04
    li
      span Image 05
    li
      span Image 06
  .dim
  .header-content
    .header-content-inner
      h1
        | maths
        span.text-primary con
        |.
      br
      h3.text-less
        | 10
        sup th
        |  February 2018
        span.text-primary  |
        |  Imperial College London
