aside#logistics.bg-grey
  .container-fluid.text-center
    .col-lg-6
      .col-lg-2.col-lg-offset-2
        i.fa.fa-4x.fa-calendar.sr-icons
      .col-lg-8
        h2 
           | 10
           sup th
           |  February 2018
    .col-lg-6
      .col-lg-8
        h2 Imperial College London
      .col-lg-2
        i.fa.fa-4x.fa-map-marker.sr-icons
