aside#logistics.bg-grey
  .container-fluid.text-center
    .col-lg-6
      .col-lg-2.col-lg-offset-2
        i.fa.fa-4x.fa-calendar.sr-icons
      .col-lg-8
        h2 
           | 11
           sup th
           |  February 2017
    .col-lg-6
      .col-lg-8
        h2 Imperial College London
      .col-lg-2
        i.fa.fa-4x.fa-map-marker.sr-icons

section#location.no-padding
  .col-lg-6.col-xs-12.text-center
    .col-lg-10.col-lg-offset-1
      section.no-padding
        br
        h3 About Blackett
        hr
        br
        p
          | Blackett Laboratory is the home of Imperial College’s Department of Physics in South Kensington. It is in its iconic Lecture Theatre that we will hold our keynotes and panel discussions. The building has high historical significance in the world of theoretical physics. Indeed, it is the site of Mohammed Abdus Salam’s work on the unification of the weak and electromagnetic forces, as well as Professor Tom Kibble’s work which defined the mechanism by which gauge bosons acquire mass via the Higgs field. Expect some great questions and interesting answers!
  .col-lg-6.col-xs-12.no-padding
    #map


