nav#mainNav.navbar.navbar-default.navbar-default-i.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='#page-top')
        | maths
        span.text-primary con
        | .
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.page-scroll(href='aboutus.html') About Us
        li
          a.page-scroll(href='#event') Event
        li
          a.page-scroll(href='#speaker') Speakers
        li
          a.page-scroll(href='#grant-application') Grant Application
        li
          a.page-scroll(href='#sponsors') Sponsors
        li
          a.page-scroll(href='#partners') Partners
        li
          a.page-scroll(href='#tickets') Tickets
        li
          a.page-scroll(href='#signupsponsor') Sign Up
        li
          a.page-scroll(href='#contact') Contact
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') Previous Editions
          ul.dropdown-menu
            li
              a(href='http://www.mathscon.com/february-2017') february 2017
    // /.navbar-collapse
  // /.container-fluid


