section#organizers.bg-grey
  .container.text-center
    .call-to-action
      h2 Organizers
      hr
      br
  .container-fluid.text-center
    .col-lg-2.col-lg-offset-2.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwNikita.png', alt='')
        h4 Nikita
        p.text-muted Co-founder
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/nikita.deviataikin')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/nikita-devyataykin-0a7182106?')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwMateusz.png', alt='')
        h4 Mateusz
        p.text-muted Co-founder
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/mateusz.j.staniszewski.3')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/mateusz-jakub-staniszewski-19946590?')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwAli.png', alt='')
        h4 Ali
        p.text-muted Project Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/atttali')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/attarali?')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwAureliene.png', alt='')
        h4 Aurelien
        p.text-muted Logistics & Liaison Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/aurefavre')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/aurelien-favre-a3bab0112?')
              i.fa.fa-linkedin

  .container-fluid.text-center
    .col-lg-2.col-lg-offset-2.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwAbhinav.png', alt='')
        h4 Abhinav
        p.text-muted Web Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/mishrabhinav')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/mishrabhinav')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwMarta.png', alt='')
        h4 Marta
        p.text-muted Marketing Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/martaagnieszka.koscielak')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/marta-ko%C5%9Bcielak-4b47a087?')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwGeorgina.png', alt='')
        h4 Georgina
        p.text-muted Communication Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/georgina.stephanou')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/georgina-stephanou-b74a3a128?')
              i.fa.fa-linkedin
    .col-lg-2.col-lg-offset-0.col-xs-6.col-xs-offset-0
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwSegolene.png', alt='')
        h4 Ségolène
        p.text-muted Events Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/s3gol')
              i.fa.fa-facebook
          li
            a(href='https://ch.linkedin.com/in/ségolène-mahé-7a5222107/en')
              i.fa.fa-linkedin

  .container-fluid.text-center
    .col-lg-2.col-lg-offset-5.col-xs-6.col-xs-offset-3
      .team-member
        img.img-responsive.img-circle(src='images/team/teambwStephan.png', alt='')
        h4 Stephan
        p.text-muted Sponsorship Officer
        ul.list-inline.social-buttons
          li
            a(href='https://www.facebook.com/stephan.koenigstorfer')
              i.fa.fa-facebook
          li
            a(href='https://uk.linkedin.com/in/stephan-koenigstorfer-b823b810b')
              i.fa.fa-linkedin
