section#partners.bg-grey
  .container.text-center
    .call-to-action
      h2 Partners
      hr
      br
  .container-fluid
    .row
      .col-xs-8.col-xs-offset-2.col-md-4.col-lg-2.col-lg-offset-2.PartnerItem
        a.portfolio-box(href='http://www.ucl.ac.uk/~ucahadm/index1310.html')
          img.img-responsive(src='images/partners/ucl.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Mathematics Society
              .project-name
                | University College London
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='https://www.lsesu.com/activities/societies/society/10443/')
          img.img-responsive(src='images/partners/lse.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Applicable Mathematics Society
              .project-name
                | London School of Economics
      .col-xs-8.col-xs-offset-2.col-md-4.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='https://www.union.ic.ac.uk/rcsu/mathsoc/')
          img.img-responsive(src='images/partners/imperial.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Mathematics Society
              .project-name
                | Imperial College London
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='https://invariants.org.uk/')
          img.img-responsive(src='images/partners/oxford.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Mathematics Society
              .project-name
                | University of Oxford
    .row
      .col-xs-8.col-xs-offset-2.col-md-4.col-lg-2.col-lg-offset-2.PartnerItem
        a.portfolio-box(href='http://warwickmaths.org/')
          img.img-responsive(src='images/partners/warwick.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Mathematics Society
              .project-name
                | University of Warwick
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='http://cqfd.epfl.ch/')
          img.img-responsive(src='images/partners/cqfd.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | CQFD
              .project-name
                | École Polytechnique Fédérale De Lausanne
      .col-xs-8.col-xs-offset-2.col-md-4.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='http://icentrepreneur.com/')
          img.img-responsive(src='images/partners/ice.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
              .project-name
                | Imperial Entrepreneurs
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='http://www.bernoulli-society.org/')
          img.img-responsive(src='images/partners/bernoulli.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
              .project-name
                | Bernoulli Society

    .row
      .col-xs-8.col-xs-offset-2.col-md-4.col-lg-2.col-lg-offset-2.PartnerItem
        a.portfolio-box(href='http://www.kcl.ac.uk/nms/depts/mathematics/about/mathsoc/index.aspx')
          img.img-responsive(src='images/partners/kcl.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Mathematics Society
              .project-name
                | King's College London
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='https://union.ic.ac.uk/rcc/chess/')
          img.img-responsive(src='images/partners/imperialchessclub.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
              .project-name
                | Imperial College Chess Club
      .col-xs-8.col-xs-offset-2.col-md-4.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='http://chalkdustmagazine.com/')
          img.img-responsive(src='images/partners/chalkdust.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
              .project-name
                | Chalkdust
      .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-2.col-lg-offset-0.PartnerItem
        a.portfolio-box(href='https://markit.education/')
          img.img-responsive(src='images/partners/markit.png', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
              .project-name
                | Markit
