#nikki-gupta.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Nikki Gupta
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/nikki_gupta.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p ‘The composing of clear logical arguments to solve problems is where the magic happens’ says Nikki Gupta about the real joy of mathematics.

              p Having left a career in finance, Nikki co-founded MarkIt!, an app aimed at helping students excel in exams - it provides questions and delivers instant feedback explaining the mistakes. It currently features two A Level subjects: maths and physics. MarkIt! was granted the Founder Award in 2015 by the Deloitte Institute of Innovation and Entrepreneurship.

#conrad-wolfram.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Conrad Wolfram
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/conrad_wolfram.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p ‘Math should be more practical and more conceptual, but less mechanical (…).’ argued Conrad Wolfram, founder and CEO of Wolfram Research Europe, in his famous TedX talk about the education reform.

              p Pursuing his belief, Conrad founded computerbasedmaths.org, a project aimed at creating ‘new high-concept mathematics curriculum with computer-based computation at its heart’. So far, it has been successfully introduced in Estonia.

              p In his free time, he enjoys taking photos and playing piano.

#rob-eastaway.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Rob Eastaway
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/rob_eastaway.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Rob Eastaway is actively involved in popularising mathematics by writing books, talking about everyday maths on BBC Radio 4 and 5 Live and appearing in numerous talks. Among his bestsellers, one can find ‘Why Do Busses Come in Threes?’ and ‘Maths for Mums and Dads’.

              p Rob is also the founder and Director of Maths Inspiration, a national programme of interactive lecture shows aiming at inspiring teenagers to pursue maths at a higher level.

#martin-hairer.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Martin Hairer FRS
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/martin_hairer.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Dr Martin Hairer is a leading figure in the field of stochastic analysis, in particular he specialises in stochastic partial differential equations. For his outstanding contributions, he was awarded the Fields Medal in 2014.

              p In addition, he is Regius Professor of Mathematics of Warwick and Fellow of the Royal Society.

              p  Dr Hairer also created Amadeus, an award-winning sound-editing program widely used by DJs, music producers, etc.









#kevin-buzzard.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Kevin Buzzard
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/kevin_buzzard.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Professor Buzzard is one of a kind. Known by Imperial students for his flamboyant trousers and his enthusiasm, he distinguised himself in Mathematics through his brilliant work in algebraic number theory.
              p Senior Wrangler at Trinity College, Cambridge, he went by Harvard, the IAS in Princeton, UC Berkeley and the IHP before finally settling down in his beloved London. He then received many prizes for his work.
              p His favorite number is 59 and he completed every single Zelda game

#nick-bingham.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Nicolas Bingham
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/nick_bingham.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Mathematics is the common core of science. Science is what distinguishes between the modern world and the Middle Ages. Without science, we’re back in the Middle Ages, burning witches.” wrote Professor Bingham.
              p A probabilist with very broad research interests, he is a polymath who lectures Machine Learning, Mathematical Finance and the History of Mathematics.
              p Prof. Bingham also enjoys running: his best marathon time is 2:46:52.

#jeremy-gray.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Jeremy Gray
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/jeremy_gray.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “The study of the history of mathematics is an important way to understand the nature of the mathematics we have, it’s place and role in the intellectual and practical life of society." said Professor Gray.
              p He is primarily interested in the history of mathematics. Author and editor of many books, he was also a consultant for the TV series, The Story of Maths.
              p His awards include the Otto Neugebauer Prize and the Albert Leon Whiteman Prize (AMS)."

#john-worrall.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 John Worrall
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/john_worrall.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p John Worrall is a Professor of Philosophy of Science at London School of Economics. He also held the positions of the President and the Vice-President of the British Society for the Philosophy of Science and of the Editor-in-chief of the British Journal for the Philosophy of Science.
              p Professor Worrall is famous for his contributions to the revival of the theory of epistemic structural realism which was previously developed by Henri Poincaré, Bertrand Russell and Rudolf Carnap. In addition to being an author of many publications, he appeared in the BBC 4 programme ‘In Our Time’ where he discussed the theories of Karl Popper.




#linda-gross.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Linda C M Gross
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/linda_gross.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Dr Gross is a Cognitive Solution Architect within IBM UK's Advanced Analytics consulting practice.
              p She has been working with IBM's Watson since 2014, and specialises in helping clients design and build systems that incorporate cognitive computing components.
              p Dr Gross also holds a doctorate in Biophysics and a Masters in Nanotechnology and Enterprise, and believes that diverse experiences - from investment banking via shepherding to research science - are her best bet not to be out-thought by machines any time too soon.

#jack-watts.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Jack Watts
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/jack_watts.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p As Deep Learning Start-up Business Manager, Jack Watts manages a number of Al start-ups in Northern Europe through NVIDIA’s Inception Program.
              p Having been in the IT industry for over 6 years, he is an expert in delivering x66 server solutions and managing supplier and customer relations.
              p Jack loves reading about the research and expanding use cases for NVIDIA GPU in teaching computers to see, hear and speak.

#george-zarkadakis.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 George Zarkadakis
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/george_zarkadakis.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Dr. Zarkadakis is a thought-leader in innovation and Al. He is  particularly interested in artificial consciousness, a theme he explores in his book In Our Own Image.
              p He holds a PhD in Artificial Intelligence and has over 25 years of experience in the field. Currently Dr. Zarkadakis is a Digital Lead at Willis Tower Watson.
              p He loves discussing his passions through his many novels, plays, short stories, books and Huffington Post essays.

#peter-bentley.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Peter Bentley
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/peter_bentley.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Biological brains are better than any computer.“ believes Peter
              p Bentley, writer, computer scientist and Head of the Digital Biology Interest Group at UCL.
              p Dr. Bentley is also the CTO of Braintree, a research company committed to developing strong Artificial Intelligence.
              p Building robots and programming since the age of 9, he is mainly interested in artificial immune systems, computational development, and evolutionary algorithms.





#alex-bellos.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Alex Bellos
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/alex_bellos.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Think of the best storyteller you know and the coolest teacher you ever had" — meet Alex Bellos, writer and broadcaster, very active in Mathematics popularisation.
              p His latest book, Can you solve my problems? is a bestseller, just like his other publications. In addition to that, Alex spoke many times on Numberphile and BBC4 and blogs for the Guardian.
              p Aside from Mathematics, he writes about football and Brazil. He also invented LOOP, pool on an ellipse.

#xue-li.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Xue-Mei Li
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/xue_li.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p While differential equations are the language of the physical world, stochastic processes help us understand the unknown. It is specifically a blend of the two that Dr. Xue-Mei Li is working on.
              p She teaches both Complex Analysis and Stochastic Analysis and was a visitor at the Institute of Advanced Studies.
              p Her research interests also include dynamical systems and stochastic analysis on geometric spaces and in infinite dimensions.

#richard-thomas.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Richard Thomas
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/richard_thomas.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “It’s a very speculative theory [...], it makes amazing predictions about maths, and that’s why I love it, irrespective of whether or not it describes nature” said Professor Thomas about string theory. He is a world leader in the development of aspects of the geometry it involves.
              p He was elected Fellow of the Royal Society in 2015 for his contributions to science.
              p His awards include the Whitehead Prize, the Philip Leverhulme Prize, and the Wolfson Merit Award.

#simon-tavare.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Simon Tavar&eacute
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/simon_tavare.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p "An important role is promoting the central importance of mathematics in society and the necessity of ensuring the overall health of the discipline" said Professor Tavaré, President of the London Mathematical Society.
              p Interlacing statistics and biology, he is also the Director of Cancer Research UK Cambridge Institute.
              p Professor Tavaré received countless awards and was elected Fellow of the Royal Society for his work and achievements.

#jonathan-mestel.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Jonathan Mestel
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/jonathan_mestel.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Jonathan Mestel is a Professor of Applied Mathematics at Imperial College London. His research interests include magnetohydrodynamics and biological fluid dynamics.
              p Professor Mestel is an acclaimed chess player who was awarded the titles of Chess Grandmaster and Chess Solving Grandmaster. Among his many successes, there are the World Solving Championship and an individual Chess Olympiad gold medal.
              p Professor Mestel also enjoys playing bridge.

#manuela-borgo.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Manuela Dal Borgo
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/manuela_bargo.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Manuela Dal Borgo specialises in the interdisciplinary game theory which she lectures at University College London. In addition, Doctor Dal Borgo is a British Academy Postdoctoral Fellow in Classics and Economics at University of Cambridge.
              p Her postdoctoral project focuses on "economic strategies in archaic and classical Greece" and with the help of game theory she aims to explain "the evolution of economic strategies over 400-year period"

#liv-boeree.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Liv Boeree
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/liv_boeree.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Liv Boeree is a successful poker player, TV presenter, and cofounder of a non profit charity called Raising for Effective Giving.
              p To add to this, Boeree also holds a First Class Honors degree in Physics with Astrophysics from the University of Manchester. As of 2015, she was ranked the #1 female player on the Global Poker Index, and #6 on the female all-time live poker winnings list!
        .row
          .col-lg-8.col-lg-offset-2
              p Today, Boeree's total live tournament winnings exceed $3 million, and her charity, Raising for Effective Giving, has raised over $1 million since being founded in 2014, supporting highly effective charities specifically identified by the organization.
              p She can be seen in numerous television shows too, including "Life of Cards" (2016) and "Mind Control Freaks" (2014).

#charles-dupont.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Charles Dupont
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/charles_dupont.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Charles Dupont graduated from UCL in 2010 with a BSc in Mathematics with Economics, before going on to earn a Masters in Management from London Business School.
              p He is the cofounder and CEO of MarkIt!!, an interactive educational platform to guide and aid A level maths students through their exams, and has previously worked as the Project Manager for Rangespan Ltd, which went on to be acquired by Google!

#christophe-jefferies.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Christophe Jefferies
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/christophe_jefferies.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Undergraduate mathematics students at Imperial College London, with a passion for puzzle solving from a very young age. He did not only perfect his own solving skills managing to complete a rubiks cube in <15 seconds but can also in 1 hour teach anyone (with good memory) how to solve the cube in under a minute.

#madeleine-whybrow.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Madeleine Whybrow
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/madeleine_whybrow.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Madeleine Whybrow is a PhD student working in the algebra and algebraic combinatorics research group at Imperial College London. Her research concerns the fascinating and unexpected connections between an algebraic structure known as the Monster group and objects in other areas of maths and physics.
              p She is passionate about teaching and communicating mathematics and in 2016 won the Imperial College maths department's three minute thesis competition with her talk "Taming the Monster". She has also recently recieved an award recognising her contribution to teaching in the university.

#ruben-tomlin.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Ruben Tomlin
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/ruben_tomlin.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p First year PhD student working in nonlinear partial differential equations in the Fluid Dynamics Group, Dept. of Mathematics at Imperial College London. First Class MSci in Mathematics also completed at Imperial College London, awarded the Tensor Society prize for excellence in Applied Mathematics.

#marta-garnelo.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Marta Garnelo
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/marta_garnelo.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Marta is currently in the second year of her PhD in the computational neurodynamics group at Imperial College London. Prior to this she obtained a BSc from the TU Munich as well as an MSc in machine learning from Imperial. As part of her PhD in machine learning and artificial intelligence she focuses on reinforcement learning, in particular she is interested in combining deep generative models with reinforcement learning.
