#nira-ch.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Nira Chamberlain
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/NiraCH.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Listed by the Science Council as ‘one of UK’s top 100 Scientists’, Dr. Nira Chamberlain is indeed one of the greatest mathematical minds the present world has seen. He is the first mathematician who has made into the list of “Top 100 Britain’s most influential people of African and African-Caribbean Heritage”.

              p Completing his PhD in Statistical Physics from Portsmouth University, Dr. Chamberlain went on to become a Fellow of the Institute of Mathematics and its Applications, the Chartered Scientist, as well as the Chartered Mathematician.

              p Dr. Chamberlain has over 20 years of experience at writing mathematical models/simulation algorithms that solve complex industrial problems. He develops mathematical solutions within industries such as the defence, aerospace, automotive and energy sectors! No wonder he is one of the few British Mathematicians to feature in the Encyclopedia of Mathematics & Society.

              p In 2017 , Dr Nira Chamberlain became one of the Vice-Presidents of the Institute of Mathematics and its Applications.

              p Nira’s multi-dimensional excellence in the field of Mathematics has no bounds. His recommendation to any aspiring mathematician is that “You don’t need anybody’s permission to be a great mathematician!”

              p We are proud to have him as one of our keynote speakers this year. You cannot afford to miss this one of the most influential mathematical voices in the upcoming edition of Mathscon.

#katie-steckles.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Katie Steckles
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/Katie_Steckles.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
                p Manchester based mathematician, Dr. Katie Steckles, after finishing her PhD in 2011, has gained a global recognition by choosing to be one of the most influential female mathematics and science communicators in the world. She talks about maths in schools, at science festivals, on BBC radio, at music festivals, as part of theatre shows and on the internet.

                p Katie, besides being a Mathematics Masterclass speaker for the Royal Institution, works for Think Maths giving talks in schools around the country about engaging off-curriculum mathematics.

                p Dr. Steckles has appeared in several videos on the YouTube channel Numberphile; is the organiser of the Manchester branch of MathsJam, a monthly pub night which involves fun maths, puzzles and other interesting mathsy things; is the organiser of Manchester Girl Geeks, the Manchester branch of the world famous Girl Geek Dinners.

                p These are just a few of the outstanding outreach and engaging activities Dr. Katie Steckles does, in the capacity of her wonderful mathematically enriched career.

                p Katie was awarded the prestigious Joshua Phillips Award for Innovation in Science Engagement in 2016.

                p When she’s not doing some serious mathematical project, she enjoys doing puzzles, solving the Rubik's cube and baking things of geometrically significant shapes!

                p Mathscon 2018 is thrilled to have you, Katie

#simon-singh.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Simon Singh
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/Simon_Singh.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “God exists since mathematics is consistent, and the Devil exists since we cannot prove it.”- Who could have perceived Gödel's incompleteness theorem in a better way than Dr. Simon Lehna Singh, MBE.

              p Studying physics at Imperial College London, Simon went on to complete his PhD in particle physics from University of Cambridge and CERN, Geneva.

              p Simon has achieved limitless excellence in his career as a scientist, a science author and a science journalist. He is the author of some of the most mind-blowing books in world of science including “Fermat's Enigma: The Epic Quest to Solve the World's Greatest Mathematical Problem”, “The Code Book” , “Big Bang”, “Trick or Treatment? Alternative Medicine on Trial” and “The Simpsons and Their Mathematical Secrets”!

              p Simon went on to earn honorary degrees in Doctor of Science from the prestigious Royal Holloway, University of London, University of Kent, and University of St Andrews for his amazing contribution in the world of sciences!

              p The Indian-British mathematician has been awarded with Science Writing Award (2006), Kelvin Prize (2008), HealthWatch Award (2010), Leelavati Award (2014) and of course, the Order of the British Empire.

              p We are absolutely honoured to have him with us as one of our keynote speakers in this year’s Mathscon!

#marianne-freiberger.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Marianne Freiberger
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/Mar_Frei.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Marianne Freiberger is the co-editor of internet magazine Plus with an enthusiasm for maths popularisation. She joined Plus in 2005 after completing a PhD and a 3-year postdoc in Complex Dynamics at Queen Mary University of London. Plus is an internet magazine which has welcomed many exciting authors and interviewees, including Stephen Hawking and Roger Penrose. It aims to introduce the general public to the beauty and practical applications of mathematics - so it is easy to see why Marianne is the perfect guest for our upcoming conference!

              p On top of this Marianne has co-authored the popular maths books ‘Numericon: A journey through the hidden lives of numbers’ and ‘Math Squared: 100 concepts you should know’. She has given presentations to mathematicians about how to communicate their work to a wider audience, and to journalists about how to deal with maths in the media. For a taste of what to expect at the conference, her fantastic TEDx talk ‘How the world is connected’ can be found on YouTube.
#james-hannam.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 James Hannam
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/James_Hannam.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Today, science and religion are the two most powerful intellectual forces on the planet.”

              p With his degrees from both Oxford and Cambridge, Dr James Hannam is more than well equipped to make statements as bold as this. Dr Hannam is a historian of science who is passionate about exploring the relationship between science and religion. Following a successful background in the City, mainly financing film productions, he now focuses his passion and intelligent insight on writing for blogs, newspapers, and other publications. His 2009 book ‘God’s Philosophers: How the Medieval World Laid the Foundation of Modern Science’ was shortlisted for the Royal Society Prize for Science Books. He also writes a blog on his other area of expertise, the UK tax system, and recently published ‘What Everyone Needs to Know About Tax’.
#jim-baggott.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Jim Baggott
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/Jim_Baggot.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p After embarking on post-doctoral studies at Stanford University, D.Phil in Chemical Physics from Oxford, James Edward Baggott, or popularly known as Jim Baggott, decided to lead a life writing about science, technology, philosophy, their various applications and history.

              p Baggott has more than 20 years’ experience being a science writer. His articles have appeared in online and offline media, and he has made several appearances on radio and television. He is the author of nine books, including the famous ‘Higgs: The Invention and Discovery of the ‘God Particle’“. Jim is also a regular contributor to science magazines like New Scientist, and Nature.

              p From being a lecturer in University of Reading for a brief time period, to working in Shell International Petroleum, Jim exploits his amazingly vast range of scientific experiences in both academia and industry to justify his self-bestowed title of a ‘Science Communicator’.

              p Besides being a Glaxo Science Writers Awardee in 1991, the world famous British ‘Science Communicator’ got awarded with the prestigious Marlow Medal by the Royal Society of Chemistry in 1989.

              p We cannot wait to have Jim Baggott in this year’s Mathscon speaking on ‘Is God a Mathematician?’, enlightening and enthralling us with his beautiful philosophical and scientific perspective on the subject.
#kevin-buzzard.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Kevin Buzzard
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/Kevin_Buzzard.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Professor Buzzard is one of a kind. Known by Imperial Students for his fancy trousers, his brilliant teaching techniques and endless enthusiasm, he distinguished himself in Mathematics through his brilliant work in algebraic number theory. Senior Wrangler at Trinity College, Cambridge, he went to Harvard, the IAS in Princeton, UC Berkley and IHP before finally settling down in his beloved London as a professor in Imperial College.

              p Young Buzzard went on to ace a perfect score in IMO 1987 held in Cuba after winning a Bronze Medal in the previous edition in 1986, representing the United Kingdom. He continued to receive various other awards through his life for his excellence in the world of mathematical research.

              p One of the projects Professor Buzzard is currently working on, is Xena, trying to model a robot to test if it can pass Maths exams- how cool is that!

              p He will be joining us in Mathscon for the second time in a row!

              p Fun Fact: His favourite number is 59.
#rachel-thomas.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Rachel Thomas
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/Rachel_Thomas.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Rachel Thomas is co-editor of Plus, the internet magazine which aims to introduce the general public to the beauty and practical applications of mathematics.
              p With her MSc in Pure Mathematics, Rachel writes charismatic articles on a refreshing variety of mathematical topics. Before joining Plus in 2001, Rachel was a maths consultant in Australia working for government and industry.
              p Rachel has co-authored the popular maths books ‘Numericon: A journey through the hidden lives of numbers’ and ‘Math Squared: 100 concepts you should know’.
              p She also recently edited the Gazette of the Australian Mathematical Society and has developed science writing workshops for graduate students.
              p As well as all this she is currently creating mathematical walking tours and a virtual mathematical tour guide of the world for Maths in the City!




#michael-duff.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Michael Duff
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/michaelduff.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Prof. Michael Duff FRS, FRSA is a pioneering theorist of supergravity who is the Emeritus Professor of Theoretical Physics and Senior Research Investigator at Imperial College London, where until 2015 he served as the Abdus Salam Chair of Theoretical Physics.
              p After gaining his PhD in Theoretical Physics at Imperial College (supervised by Nobel Laureate Abdus Salam), he has done several postdoctoral fellowships around the globe. He has also worked as Senior Physicist at CERN, and is Visiting Professor in Mathematics at Oxford.
              p As if these incredible credentials aren’t impressive enough, he is also editor of The World in Eleven Dimensions: Supergravity, Supermembranes and M-theory, and coined the term “p-brane” in 1988.
              p It is our great honour to welcome him to the parallel universes panel.

#carlo-contaldi.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Carlo Contaldi
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/carlocontaldi.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Professor Carlo Contaldi, armed with his PhD in Theoretical Physics and years of experience in theoretical cosmology, will be sharing his expert perspective on our parallel universes panel.
              p A Professor of Theoretical Physics at Imperial College, he explores the physics of the very early Universe and the observations that can help us understand everything in it. \
              p His highly complex research takes on some pretty cool topics - the distribution of galaxies, Dark Matter, and Cosmic Microwave Background (CMB) – the background of decoupled radiation left over from the big bang.
              p With this he finds ways to compare theoretical models of the nature of the Universe with an ever-growing body of cosmological observations. Professor Contaldi has also worked on some incredible collaborative experiments, such as balloon borne telescopes called BOOMERANG and SPIDER, as well as a CMB telescope based at the South Pole.

#veras.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          h2 Dimitri Veras
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/mc2018/veras.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Ever heard of stars playing pinball with planets? Dr Dimitri Veras is an astrophysicist who researches the contents of planetary systems (including our own) across both time and space. His unique code to simulate the death of planetary systems investigates the mysterious “Planet Nine”, the existence of which could “change the fate of the solar system” by kickstarting a massive pinball effect.
              p His articles had media attention from National Geographic, The Independent, New Scientist and Huffington Post to name just a few. Dr Veras is an STFC Ernest Rutherford Fellow working with both the exoplanet and white dwarf research groups at the University of Warwick.
              p After obtaining his PhD at the University of Colorado at Boulder, he held postdoctoral research appointments at the University of Cambridge and University of Florida. His current research focus aims to answer some of the biggest mysteries regarding the ultimate fate of extrasolar planets - how they die, and how they can "pollute" very old stars known as white dwarfs.

#rob-eastaway.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Rob Eastaway
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/rob_eastaway.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Rob Eastaway is actively involved in popularising mathematics by writing books, talking about everyday maths on BBC Radio 4 and 5 Live and appearing in numerous talks. Among his bestsellers, one can find ‘Why Do Busses Come in Threes?’ and ‘Maths for Mums and Dads’.

              p Rob is also the founder and Director of Maths Inspiration, a national programme of interactive lecture shows aiming at inspiring teenagers to pursue maths at a higher level.

#nick-bingham.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Nicolas Bingham
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/nick_bingham.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Mathematics is the common core of science. Science is what distinguishes between the modern world and the Middle Ages. Without science, we’re back in the Middle Ages, burning witches.” wrote Professor Bingham.
              p A probabilist with very broad research interests, he is a polymath who lectures Machine Learning, Mathematical Finance and the History of Mathematics.
              p Prof. Bingham also enjoys running: his best marathon time is 2:46:52.

#jeremy-gray.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Jeremy Gray
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/jeremy_gray.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “The study of the history of mathematics is an important way to understand the nature of the mathematics we have, it’s place and role in the intellectual and practical life of society." said Professor Gray.
              p He is primarily interested in the history of mathematics. Author and editor of many books, he was also a consultant for the TV series, The Story of Maths.
              p His awards include the Otto Neugebauer Prize and the Albert Leon Whiteman Prize (AMS)."

#john-worrall.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 John Worrall
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/john_worrall.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p John Worrall is a Professor of Philosophy of Science at London School of Economics. He also held the positions of the President and the Vice-President of the British Society for the Philosophy of Science and of the Editor-in-chief of the British Journal for the Philosophy of Science.
              p Professor Worrall is famous for his contributions to the revival of the theory of epistemic structural realism which was previously developed by Henri Poincaré, Bertrand Russell and Rudolf Carnap. In addition to being an author of many publications, he appeared in the BBC 4 programme ‘In Our Time’ where he discussed the theories of Karl Popper.




#linda-gross.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Linda C M Gross
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/linda_gross.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Dr Gross is a Cognitive Solution Architect within IBM UK's Advanced Analytics consulting practice.
              p She has been working with IBM's Watson since 2014, and specialises in helping clients design and build systems that incorporate cognitive computing components.
              p Dr Gross also holds a doctorate in Biophysics and a Masters in Nanotechnology and Enterprise, and believes that diverse experiences - from investment banking via shepherding to research science - are her best bet not to be out-thought by machines any time too soon.

#jack-watts.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Jack Watts
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/jack_watts.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p As Deep Learning Start-up Business Manager, Jack Watts manages a number of Al start-ups in Northern Europe through NVIDIA’s Inception Program.
              p Having been in the IT industry for over 6 years, he is an expert in delivering x66 server solutions and managing supplier and customer relations.
              p Jack loves reading about the research and expanding use cases for NVIDIA GPU in teaching computers to see, hear and speak.

#george-zarkadakis.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 George Zarkadakis
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/george_zarkadakis.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Dr. Zarkadakis is a thought-leader in innovation and Al. He is  particularly interested in artificial consciousness, a theme he explores in his book In Our Own Image.
              p He holds a PhD in Artificial Intelligence and has over 25 years of experience in the field. Currently Dr. Zarkadakis is a Digital Lead at Willis Tower Watson.
              p He loves discussing his passions through his many novels, plays, short stories, books and Huffington Post essays.

#peter-bentley.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Peter Bentley
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/peter_bentley.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Biological brains are better than any computer.“ believes Peter
              p Bentley, writer, computer scientist and Head of the Digital Biology Interest Group at UCL.
              p Dr. Bentley is also the CTO of Braintree, a research company committed to developing strong Artificial Intelligence.
              p Building robots and programming since the age of 9, he is mainly interested in artificial immune systems, computational development, and evolutionary algorithms.





#alex-bellos.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Alex Bellos
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/alex_bellos.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “Think of the best storyteller you know and the coolest teacher you ever had" — meet Alex Bellos, writer and broadcaster, very active in Mathematics popularisation.
              p His latest book, Can you solve my problems? is a bestseller, just like his other publications. In addition to that, Alex spoke many times on Numberphile and BBC4 and blogs for the Guardian.
              p Aside from Mathematics, he writes about football and Brazil. He also invented LOOP, pool on an ellipse.

#xue-li.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Xue-Mei Li
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/xue_li.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p While differential equations are the language of the physical world, stochastic processes help us understand the unknown. It is specifically a blend of the two that Dr. Xue-Mei Li is working on.
              p She teaches both Complex Analysis and Stochastic Analysis and was a visitor at the Institute of Advanced Studies.
              p Her research interests also include dynamical systems and stochastic analysis on geometric spaces and in infinite dimensions.

#richard-thomas.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Richard Thomas
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/richard_thomas.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p “It’s a very speculative theory [...], it makes amazing predictions about maths, and that’s why I love it, irrespective of whether or not it describes nature” said Professor Thomas about string theory. He is a world leader in the development of aspects of the geometry it involves.
              p He was elected Fellow of the Royal Society in 2015 for his contributions to science.
              p His awards include the Whitehead Prize, the Philip Leverhulme Prize, and the Wolfson Merit Award.

#simon-tavare.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Simon Tavar&eacute
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/simon_tavare.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p "An important role is promoting the central importance of mathematics in society and the necessity of ensuring the overall health of the discipline" said Professor Tavaré, President of the London Mathematical Society.
              p Interlacing statistics and biology, he is also the Director of Cancer Research UK Cambridge Institute.
              p Professor Tavaré received countless awards and was elected Fellow of the Royal Society for his work and achievements.

#jonathan-mestel.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Jonathan Mestel
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/jonathan_mestel.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Jonathan Mestel is a Professor of Applied Mathematics at Imperial College London. His research interests include magnetohydrodynamics and biological fluid dynamics.
              p Professor Mestel is an acclaimed chess player who was awarded the titles of Chess Grandmaster and Chess Solving Grandmaster. Among his many successes, there are the World Solving Championship and an individual Chess Olympiad gold medal.
              p Professor Mestel also enjoys playing bridge.

#manuela-borgo.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Manuela Dal Borgo
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/manuela_bargo.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Manuela Dal Borgo specialises in the interdisciplinary game theory which she lectures at University College London. In addition, Doctor Dal Borgo is a British Academy Postdoctoral Fellow in Classics and Economics at University of Cambridge.
              p Her postdoctoral project focuses on "economic strategies in archaic and classical Greece" and with the help of game theory she aims to explain "the evolution of economic strategies over 400-year period"

#liv-boeree.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Liv Boeree
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/liv_boeree.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Liv Boeree is a successful poker player, TV presenter, and cofounder of a non profit charity called Raising for Effective Giving.
              p To add to this, Boeree also holds a First Class Honors degree in Physics with Astrophysics from the University of Manchester. As of 2015, she was ranked the #1 female player on the Global Poker Index, and #6 on the female all-time live poker winnings list!
        .row
          .col-lg-8.col-lg-offset-2
              p Today, Boeree's total live tournament winnings exceed $3 million, and her charity, Raising for Effective Giving, has raised over $1 million since being founded in 2014, supporting highly effective charities specifically identified by the organization.
              p She can be seen in numerous television shows too, including "Life of Cards" (2016) and "Mind Control Freaks" (2014).

#charles-dupont.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Charles Dupont
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/charles_dupont.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Charles Dupont graduated from UCL in 2010 with a BSc in Mathematics with Economics, before going on to earn a Masters in Management from London Business School.
              p He is the cofounder and CEO of MarkIt!!, an interactive educational platform to guide and aid A level maths students through their exams, and has previously worked as the Project Manager for Rangespan Ltd, which went on to be acquired by Google!

#christophe-jefferies.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Christophe Jefferies
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/christophe_jefferies.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Undergraduate mathematics students at Imperial College London, with a passion for puzzle solving from a very young age. He did not only perfect his own solving skills managing to complete a rubiks cube in <15 seconds but can also in 1 hour teach anyone (with good memory) how to solve the cube in under a minute.

#madeleine-whybrow.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Madeleine Whybrow
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/madeleine_whybrow.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Madeleine Whybrow is a PhD student working in the algebra and algebraic combinatorics research group at Imperial College London. Her research concerns the fascinating and unexpected connections between an algebraic structure known as the Monster group and objects in other areas of maths and physics.
              p She is passionate about teaching and communicating mathematics and in 2016 won the Imperial College maths department's three minute thesis competition with her talk "Taming the Monster". She has also recently recieved an award recognising her contribution to teaching in the university.

#ruben-tomlin.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Ruben Tomlin
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/ruben_tomlin.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p First year PhD student working in nonlinear partial differential equations in the Fluid Dynamics Group, Dept. of Mathematics at Imperial College London. First Class MSci in Mathematics also completed at Imperial College London, awarded the Tensor Society prize for excellence in Applied Mathematics.

#marta-garnelo.speaker-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
           h2 Marta Garnelo
        .row
          .col-lg-4.col-lg-offset-2
            .modal-body
              img.img-responsive.img-centered(src='images/speaker/marta_garnelo.png', style="width:100%", alt='')
          .col-lg-4
            .modal-body
              p Marta is currently in the second year of her PhD in the computational neurodynamics group at Imperial College London. Prior to this she obtained a BSc from the TU Munich as well as an MSc in machine learning from Imperial. As part of her PhD in machine learning and artificial intelligence she focuses on reinforcement learning, in particular she is interested in combining deep generative models with reinforcement learning.
