aside#signupsponsor
  .container-fluid.text-center
    h2 Like what you see?
    hr
    br
  .container-fluid.text-center
      .container-fluid
        p Join us for a magical, spell-binding, riveting, joyous, mesmerising, incredible, unforgettable weekend of math-filled goodness, only at mathscon.
      .container-fluid
        a.btn.btn-primary.btn-xl(href='http://eepurl.com/b_3Vdz') Subscribe for updates
      br
      .container-fluid
        p
          | Interested in sponsoring us? 
          a.page-scroll(href="mailto:team@mathscon.com") Get in touch




