section#grange.no-padding
  .container-fluid.no-padding
    .col-lg-6.col-xs-12.no-padding
      #map-grange
    .col-lg-4.col-lg-offset-1.col-xs-12.text-center
      br
      h3 About Grange City Hotel
      hr
      br
      p After the conference there will be a chance to socialize and chat with fellow students, professors and corporate representatives in our partnered venue. This beautiful 5-star hotel is perfectly located in London’s Downtown District neighbourhood, within a 10-minute walk of Tower of London, The Gherkin and Tower Bridge. Following our main programme, we will gather here for an unforgettable social networking event. Around drinks and canapés, you will be able to exchange ideas, meet inspiring people and build new friendships.
