section#speaker.bg-grey
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Speakers
        hr
    br

  include speakers/keynote

  include speakers/panel_discovered

  include speakers/panel_appreciate

  include speakers/panel_machines

  include speakers/workshops
